/*================================================================*/
/*==========================info  cards===========================*/
/*================================================================*/
a.card {
    display:block;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    /*background: #fefff9;*/
    background: #f4f4f4;
    color: #363636;
    text-decoration: none;
    /*-moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px 0;*/
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

@media screen and (min-width : 401px) and (max-width : 699px) {
    .card {
        margin-left:5%;
        margin-right:5%;
        width: 90%;
    }
}

@media ( max-width : 400px) {
    .card {
        margin-left:8%;
        margin:8%;
        width: 84%;
    }
}


@media ( min-width : 700px) {
    .card {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
    .card:nth-child(even) {
        margin-right: 0;
    }
}

@media ( min-width : 980px) {
    .card:nth-child(even) {
        margin-right: 20px;
    }
    .card:nth-child(3n) {
        margin-right: 0;
    }
}

.card span {
    display: block;
}

.card .card-summary {
    padding: 5% 5% 3% 5%;
    min-height: 117px;
    text-align: justify;
}

.card .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    -moz-border-radius: 1px 1px 0 0;
    -webkit-border-radius: 1px;
    border-radius: 1px 1px 0 0;
}

.card .card-header:hover, .card .card-header:focus {
    background-color: rgba(255, 255, 255, 0);
}

.card .card-title {
    background-color: #9F2E1E;
    opacity: 0.75;
    padding: 3.5% 0 2.5% 0;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
}

.card .card-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

.card .card-meta {
    /*max-height: 0;*/
    height: 2em !important;
    max-height: 2em !important;
    line-height: 2em !important;
    overflow: hidden;
    color: #666;
    text-transform: uppercase;
    position: absolute;
    bottom: 3%;
    right: 5%;
    padding: 0 5%;
    background-color: #9F2E1E;
    color: #ffffff;
    text-align: center;
    /*border-radius: 5px 10px 5px 10px;
    -webkit-border-radius: 5px 10px 5px 10px; 
    -moz-border-radius: 5px 10px 4px 10px;*/
    
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;

    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3) !important;  

}

.card:hover, .card:focus {
    background: white;
    /*-moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;*/
    background-color: #f4f4f4; 
}

.card:hover .card-title, 
.card:focus .card-title
{
    background: rgba(12, 56, 104, 0.80);
}

.card:hover .card-meta{
    background: rgba(12, 56, 104, 1);
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.card:hover .card-meta, 
.card:focus .card-meta {
    max-height: 1.5em;
}

a.card ,
a.card a.card-header,
a.card .card-title
{
    -moz-transition-property: background-color, border-color, box-shadow,
        color, opacity, text-shadow, -moz-transform;
    -o-transition-property: background-color, border-color, box-shadow,
        color, opacity, text-shadow, -o-transform;
    -webkit-transition-property: background-color, border-color, box-shadow,
        color, opacity, text-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color,
        opacity, text-shadow, transform;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

/*@media (max-width : 400px) {
.card .card-meta {
        max-height: 1.5em !important;
}	
}*/


/*================================================================*/
/*====================== Detail cards ============================*/
/*================================================================*/

.blog-card {
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    margin: 0 auto 1.6%;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*border: 1px solid rgba(0, 0, 0, 0.3)*/
}
.blog-card:hover .details {
    left: 0;
}
.blog-card:hover.alt .details {
    right: 0;
}
.blog-card.alt .details {
    right: -100%;
    left: inherit;
}
.blog-card .photo {
    height: 200px;
    position: relative;
}

.blog-card .details {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    height: 200px;
    /*POSITION*/
    position: absolute;
    top: 0;
    left: -100%;
}
.blog-card .details > li {
    padding: 3px 0;
}
.blog-card .details li:before, .blog-card .details .tags ul:before {
    margin-right: 10px;
    vertical-align: middle;
}

.blog-card .details .tags ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.blog-card .details .tags ul:before {
    /*content: "\f02b";*/
}
.blog-card .details .tags li {
    display: inline-block;
    margin-right: 3px;
}
.blog-card .details a {
    color: inherit;
    border-bottom: 1px dotted;
}
.blog-card .details a:hover {
    color: #75D13B;
}
.blog-card .description {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.blog-card .description h1 {
    font-size:1.8em;
    line-height: 1em;
    margin: 0 0 10px 0;
}
.blog-card .description h2 {
    line-height: 1.2em;
    text-transform: uppercase;
    font-size: 1em;
    /*font-weight: 400;*/
    margin: 1.2% 0;
}
.blog-card .description p {
    position: relative !important;
    margin: 0 !important;
    padding-top: 20px !important;
    font-size: 13px;
    text-align: justify !important;
    line-height: normal;
}
.blog-card .description p:after {
    content: "";
    background: #B92911;
    height: 6px;
    width: 40px;
    /*POSITION*/
    position: absolute;
    top: 6px;
    left: 0;
}
.blog-card .description a {
    color: #003772;
    margin-bottom: 10px;
    float: right;
}
.blog-card .description a:after {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
}
.blog-card .description a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

@media screen and (min-width: 600px) {
    .blog-card {
        height: 200px;
        max-width: 100%;
    }
    .blog-card:hover .photo {
        -webkit-transform: rotate(5deg) scale(1.3);
        transform: rotate(5deg) scale(1.3);
    }
    .blog-card:hover.alt .photo {
        -webkit-transform: rotate(-5deg) scale(1.3);
        transform: rotate(-5deg) scale(1.3);
    }
    .blog-card.alt .details {
        padding-left: 30px;
    }
    .blog-card.alt .description {
        float: right;
    }
    .blog-card.alt .description:before {
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
        right: -15px;
        left: inherit;
    }
    .blog-card.alt .photo {
        float: right;
    }
    .blog-card .photo {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        float: left;
        height: 100%;
        width: 40%;
    }
    .blog-card .details {
        width: 40%;
    }
    .blog-card .description {
        float: left;
        width: 60%;
        z-index: 0;
        min-height: 200px;
    }
    .blog-card .description:before {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        content: "";
        background: #fff;
        width: 100%;
        z-index: -1;
        /*POSITION*/
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
    }
}
